Uyga vazifa

In [1]:
import pandas as pd
import numpy as np
import seaborn as sbs

In [2]:
# datani vs ga olish
df=pd.read_csv('earthquakes.csv')

In [3]:
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource,Alert
0,1976-03-25 00:41:20.500000+00:00,35.590000,-90.480000,15.000,4.62,mw,NaN,NaN,NaN,NaN,...,"8 km NW of Marked Tree, Arkansas",earthquake,NaN,NaN,NaN,0.0,reviewed,nm,nm,green
1,1979-10-16 06:58:43.450000+00:00,32.998667,-115.557500,14.190,5.80,ml,7.0,79.0,0.05768,0.17,...,"3km NW of Brawley, CA",earthquake,1.03,1.78,NaN,0.0,reviewed,ci,ci,yellow
2,1980-07-27 18:52:21.600000+00:00,38.190000,-83.950000,10.000,5.00,md,NaN,NaN,NaN,NaN,...,"2 km SW of Sharpsburg, Kentucky",earthquake,NaN,NaN,NaN,NaN,reviewed,se,se,green
3,1981-04-19 09:02:50.520000+00:00,35.816000,-117.816333,4.766,4.70,ml,13.0,135.0,NaN,0.66,...,"16km SSE of Little Lake, CA",earthquake,2.51,31.61,0.424,9.0,reviewed,ci,ci,green
4,1981-04-26 12:09:28.290000+00:00,33.095500,-115.624500,18.904,5.75,ml,81.0,34.0,NaN,0.34,...,"The 1981 Westmorland, California Earthquake",earthquake,0.56,0.67,0.161,6.0,reviewed,ci,ci,green

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7717 entries, 0 to 7716
Data columns (total 23 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             7717 non-null   object
 1   latitude         7717 non-null   float64
 2   longitude        7717 non-null   float64
 3   depth            7717 non-null   float64
 4   mag              7717 non-null   float64
 5   magType          7717 non-null   object
 6   nst              2404 non-null   float64
 7   gap              7393 non-null   float64
 8   dmin             7015 non-null   float64
 9   rms              7691 non-null   float64
 10  net              7717 non-null   object
 11  id               7717 non-null   object
 12  updated          7717 non-null   object
 13  place            7717 non-null   object
 14  type             7717 non-null   object
 15  horizontalError  6499 non-null   float64
 16  depthError       7508 non-null   float64
 17  magError         5486 non-null   float64
 18  magNst           5650 non-null   float64
 19  status           7717 non-null   object
 20  locationSource   7717 non-null   object
 21  magSource        7717 non-null   object
 22  Alert            7717 non-null   object
dtypes: float64(12), object(11)
memory usage: 1.4+ MB

In [6]:
df.isnull().sum()

time                  0
latitude              0
longitude             0
depth                 0
mag                   0
magType               0
nst                5313
gap                 324
dmin                702
rms                  26
net                   0
id                    0
updated               0
place                 0
type                  0
horizontalError    1218
depthError          209
magError           2231
magNst             2067
status                0
locationSource        0
magSource             0
Alert                 0
dtype: int64

In [8]:
df.drop('nst', axis=1, inplace=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7717 entries, 0 to 7716
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             7717 non-null   object
 1   latitude         7717 non-null   float64
 2   longitude        7717 non-null   float64
 3   depth            7717 non-null   float64
 4   mag              7717 non-null   float64
 5   magType          7717 non-null   object
 6   gap              7393 non-null   float64
 7   dmin             7015 non-null   float64
 8   rms              7691 non-null   float64
 9   net              7717 non-null   object
 10  id               7717 non-null   object
 11  updated          7717 non-null   object
 12  place            7717 non-null   object
 13  type             7717 non-null   object
 14  horizontalError  6499 non-null   float64
 15  depthError       7508 non-null   float64
 16  magError         5486 non-null   float64
 17  magNst           5650 non-null   float64
 18  status           7717 non-null   object
 19  locationSource   7717 non-null   object
 20  magSource        7717 non-null   object
 21  Alert            7717 non-null   object
dtypes: float64(11), object(11)
memory usage: 1.3+ MB

In [10]:
df.fillna(df['magError'].mean(), inplace=True)

In [11]:
df.fillna(df['gap'].mean(), inplace=True)

In [12]:
df.fillna(df['dmin'].mean(), inplace=True)

In [13]:
df.fillna(df['rms'].mean(), inplace=True)

In [15]:
df.fillna(df['horizontalError'].mean(), inplace=True)

In [16]:
df.fillna(df['depthError'].mean(), inplace=True)

In [17]:
df.fillna(df['magError'].mean(), inplace=True)

In [18]:
df.fillna(df['magNst'].mean(), inplace=True) # bu code orqali kamchiligi bo'lgan datalarni to'ldirib oldik

In [20]:
df.isnull().sum()

time               0
latitude           0
longitude          0
depth              0
mag                0
magType            0
gap                0
dmin               0
rms                0
net                0
id                 0
updated            0
place              0
type               0
horizontalError    0
depthError         0
magError           0
magNst             0
status             0
locationSource     0
magSource          0
Alert              0
dtype: int64

In [21]:
df.fillna(df['time'].mode()[0],inplace=True) #bu code orqali matnli datalarni to'ldirib oldik

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7717 entries, 0 to 7716
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   time             7717 non-null   object
 1   latitude         7717 non-null   float64
 2   longitude        7717 non-null   float64
 3   depth            7717 non-null   float64
 4   mag              7717 non-null   float64
 5   magType          7717 non-null   object
 6   gap              7717 non-null   float64
 7   dmin             7717 non-null   float64
 8   rms              7717 non-null   float64
 9   net              7717 non-null   object
 10  id               7717 non-null   object
 11  updated          7717 non-null   object
 12  place            7717 non-null   object
 13  type             7717 non-null   object
 14  horizontalError  7717 non-null   float64
 15  depthError       7717 non-null   float64
 16  magError         7717 non-null   float64
 17  magNst           7717 non-null   float64
 18  status           7717 non-null   object
 19  locationSource   7717 non-null   object
 20  magSource        7717 non-null   object
 21  Alert            7717 non-null   object
dtypes: float64(11), object(11)
memory usage: 1.3+ MB

In [23]:
missing_col = df.columns[df.isnull().sum() > 0]


for col in missing_col:
    if df[col].dtype == 'object':  #  (object type)
        df[col].fillna(df[col].mode()[0], inplace=True)
    else:  # numerical
        df[col].fillna(df[col].mean(), inplace=True)

pythonda vazifalar